      </div>
    </main>
    <footer class="globalFooter">
      <div class="wrapper">
        <p>Created by <a href="http://alecgunnar.com" target="_blank">Alec Carpenter</a></p>
        <p>Version <%= version %></p>
      </div>
    </footer>
  </body>
</html>