<% title 'Forums' %>

<% for category in @categories %>
  <div class="forums__category">
    <h3 class="category__title"><%= link_to category.name, forum_path(category) %></h3>
    <%= render_subforums category.forums %>
  </div>
<% end %>
