.category__title {
    background-color: $primary;
    font-weight: 400;
    color: $white;
    padding: $padding;
    margin: 0;
}

.category__forum,
.topic {
    padding: $padding;

    &:nth-of-type(odd) {
        background-color: $lighter-gray;
    }
}

.forum__name,
.topic__name {
    font-weight: 400;
    display: inline-block;
    margin-bottom: $margin;
}

.forum__description,
.topic__description {
    font-size: .8rem;
}

.forum__description__stats,
.topic__description__stats {
    float: right;
}
