.category--subforums {
    margin: 0 0 $margin;
}

.category__forum,
.forum__topic {
    padding: $padding;

    &:nth-of-type(odd) {
        background-color: $lighter-gray;
    }
}

.forum__topic--noTopics {
    background-color: $lighter-gray;
    text-align: center;
    font-style: italic;
}

.category__title a {
    text-decoration: none;
}

.category__forumName,
.forum__topicName {
    font-weight: 400;
    display: inline-block;
    margin-bottom: $margin;
}

.category__forumDesc,
.forum__topicDesc {
    font-size: .8rem;
}

.category__forumStats,
.forum__topicStats {
    float: right;
}
