.topic__description {
    margin: 0 0 $margin;
}

.topic__post {
    margin-top: $margin;
    display: table;
    width: 100%;
}

.topic__postAuthor,
.topic__postContent {
    box-sizing: border-box;
    border-radius: $border-radius;
    padding: $padding;
    display: table-cell;
}

.topic__postAuthor {
    background-color: $light-gray;
    margin: 0 $margin $margin 0;
    width: 300px;
    float: left;
    position: relative;

    &:before {
        background-color: $light-gray;
        right: -7px;

        @include carrot(15px, 15px, 45deg);
    }
}

.topic__postAuthorPicture {
    width: 50px;
    height: 50px;
    margin-right: $margin;
    float: left;
}

.topic__postAuthorInfo a {
    display: inline-block;
    margin-bottom: $margin / 2;
}

.topic__postAuthorPostCount {
    font-size: .8rem;
}

.topic__postContent {
    background-color: $lighter-gray;
    width: 100%;
    vertical-align: top;

    p {
        margin: 0 0 $margin;

        &:last-of-type {
            margin: 0;
        }
    }

    &:hover .topic__postOptions {
        opacity: 1;
        transition: .25s;
    }
}

.topic__postDate {
    color: $dark-gray;
    margin-bottom: $margin;
}

.topic__postText {
    height: 50px;
}

.topic__postOptions {
    opacity: .1;
    transition: .25s;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        @extend .horizontalMenu;
    }
}
