.post {
    margin-top: $margin;
    display: table;
    width: 100%;
}

.post__author,
.post__content {
    box-sizing: border-box;
    border-radius: $border-radius;
    padding: $padding;
    display: table-cell;
}

.post__author {
    background-color: $light-gray;
    margin: 0 $margin $margin 0;
    width: 300px;
    float: left;
    position: relative;

    &:before {
        background-color: $light-gray;
        right: -7px;

        @include carrot(15px, 15px, 45deg);
    }
}

.author__avatar {
    width: 50px;
    height: 50px;
    margin-right: $margin;
    float: left;
}

.author__info a {
    display: inline-block;
    margin-bottom: $margin / 2;
}

.info__postCount {
    font-size: .8rem;
}

.post__content {
    background-color: $lighter-gray;
    width: 100%;
    vertical-align: top;

    p {
        margin: 0 0 $margin;

        &:last-of-type {
            margin: 0;
        }
    }

    &:hover .post__content__options {
        opacity: 1;
        transition: .25s;
    }
}

.post__content__postDate {
    color: $dark-gray;
    margin-bottom: $margin;
}

.post__content__text {
    height: 50px;
}

.post__content__options {
    opacity: .1;
    transition: .25s;

    a {
        text-decoration: none;
    }

    ul {
        @extend .horizontalMenu;
    }
}
