.button {
    background-color: $primary;
    color: $white;
    font-size: 1rem;
    padding: $padding $padding * 3;
    border: 0;
    border-radius: $border-radius;

    &:hover {
        background-color: $primary-darker;
    }
}
