.horizontalMenu {
    li, & {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }
}

.horizontalMenu {
    li {
        display: inline;
        margin: 0 0 0 $margin;

        &:first-of-type {
            margin-left: 0;
        }
    }
}

.verticalMenu {
    li, & {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }
}
