@import 'menus';

.horizontalTabs {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom: 2px solid $secondary;

    @extend .horizontalMenu;
}

.horizontalTabs li,
.horizontalTabs--anchored a {
    background-color: $tertiary;
    text-align: center;
    color: $black;
    padding: $padding;
    border-right: 2px solid $white;
    display: table-cell;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    &:last-of-type {
        border: none;
    }

    &.active, &:hover {
        background-color: $secondary;
        color: $white;
    }
}

.horizontalTabs--anchored {
    li {
        padding: 0;
        border-radius: 0;

        &, &:hover {
            background: transparent;
        }

        a {
            text-decoration: none;
            display: block;
        }
    }
}
