@import 'menus';

.horizontalTabs {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom: 2px solid $primary-darker;

    @extend .horizontalMenu;

    li {
        background-color: $primary;
        text-align: center;
        color: $white;
        padding: $padding;
        border-right: 2px solid $white;
        display: table-cell;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        &:last-of-type {
            border: none;
        }

        &.active, &:hover {
            background-color: $primary-darker;
        }
    }
}

.horizontalTabs--anchored {
    li {
        padding: 0;
        border-radius: 0;

        &, &:hover {
            background: transparent;
        }

        a {
            background-color: $primary;
            text-decoration: none;
            color: $white;
            display: block;
            padding: $padding;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            &.active, &:hover {
                background-color: $primary-darker;
            }
        }
    }
}
