@import 'variables';
@import 'partials';
@import 'mixins';

html {
    height: 100%;
    font-size: 16px;
}

body {
    background-color: $white;
    font-family: "Helvetica Neue", "Sans Serif";
    font-weight: 200;
    letter-spacing: 1px;
    color: $black;
    padding: 0;
    margin: 0;
}

a {
    color: $black;

    &:hover {
        text-decoration: none;
    }
}

.wrapper {
    max-width: $wrapper-width;
    min-width: $wrapper-min-width;
    margin: 0 auto;
}

.clearBoth {
    clear: both;
}

.globalHeader {
    background: $primary;
    line-height: $global-header-height;
}

.globalHeader__branding a {
    background-image: image-url('logos/version_one_smaller.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: -100%;
    display: inline-block;
    width: $branding-width;
    height: $global-header-height;
    float: left;
}

.globalHeader__userBar {
    float: right;
    position: relative;

    a, & {
        color: $white;
    }

    ul {
        @extend .horizontalMenu;
    }
}

.userBar__currentMember {
    background-color: $primary-darker;
    line-height: $global-header-height / 2;
    padding: 0 $padding;
    margin-top: $global-header-height / 4;
    border-radius: $border-radius;
    cursor: pointer;
}

.currentMember__trigger {
    display: inline-block;
    margin-right: $margin;

    &:before {
        border-left: 2px solid $white;
        border-bottom: 2px solid $white;
        margin-top: -11px;
        width: 7px;
        height: 7px;
        display: block;
        content: " ";
        transform: rotate(-45deg);
    }
}

.currentMember__avatar {
    width: $global-header-height / 3;
    height: $global-header-height / 3;
    vertical-align: middle;
    margin: 0 $margin * 2 0 $margin;
}

.currentMember__menu {
    background-color: $primary-darker;
    line-height: 1;
    position: absolute;
    top: $global-header-height - ($global-header-height / 8);
    right: 0;
    width: $userbar-menu-width;
    border-radius: $border-radius;
    display: none;

    ul {
        @extend .verticalMenu;

        a {
            padding: $padding;
            display: block;
        }
    }

    &:before {
        background-color: $primary-darker;
        position: absolute;
        top: -7px;
        right: $margin * 2;
        width: 12px;
        height: 12px;
        display: block;
        transform: rotate(45deg);
        content: " ";
    }
}

.globalNavigation {
    background-color: $primary-darker;
    line-height: $global-nav-height;

    a {
        color: $white;
        text-decoration: none;
        line-height: $global-nav-height;
        padding: 0 $padding;
        display: inline-block;

        &:hover,
        &.active {
            background: $primary;
        }
    }

    ul {
        @extend .horizontalMenu;

        li {
            margin: 0;
        }
    }
}

main {
    margin: $margin 0;
}

.globalFooter {
    text-align: center;

    a, & {
        color: $gray;
    }
}

@import 'pages';
