// Sizing
$wrapper-width: 1200px;
$wrapper-min-width: 960px;
$global-header-height: 75px;
$global-nav-height: 40px;
$branding-width: 300px;
$userbar-menu-width: 250px;

$border-radius: 3px;

// Padding and margin
$padding: 10px;
$margin: 10px;

// Generic colors
$white: #FFF;
$black: #000;
$gray: #CCC;
$light-gray: #E1E1E1;
$lighter-gray: #F1F1F1;

// Theme colors
$primary: #089DE3;
$primary-darker: darken($primary, 5%);
$error: #D00;
$error-darker: darken($error, 5%);
