// Sizing
$wrapper-max-width: 1200px;
$wrapper-min-width: 960px;
$global-header-height: 75px;
$branding-width: 150px;
$logo-width: 150px;
$logo-height: 49px;
$userbar-menu-width: 250px;

$border-radius: 3px;

// Padding and margin
$padding: 10px;
$margin: 10px;

// Generic colors
$black: #000;
$light-black: #515151;

$white: #FFF;

$gray: #CCC;
$light-gray: #F0F0F0;
$lighter-gray: #F6F6F6;
$dark-gray: #999;
$darker-gray: #666;

// Theme colors
$background-color: #A0AEC1;

$primary: #627894;
$primary-darker: #466289;
$primary-lighter: #DBE8F9;

$secondary: #FA6121;
$secondary-lighter: lighten($secondary, 5%);

$tertiary: #FFB739;
$tertiary-lighter: lighten($tertiary, 5%);

$alert: #E4001B;
$alert-darker: darken($alert, 5%);

$notice: #FFFFE0;
